In [ ]:
#1)iterate both simultaneously
# EX ls 1=[1,2,3]
#    ls 2=[4,5,6]
ls1=[1,2,3]
ls2=[4,5,6]
for i,j in zip(ls1,ls2):
  print(i,j)

1 4
2 5
3 6

In [14]:
# 2) replace lists item with new value if found 
#you have given a pythion list. write a program to find values in list and if it is present replace it with 200 .only update the first occurence of an item
list1=[5,10,15,20,25,50,20]
x=list1.index(20)
list1[3]=200
print(list1)

[5, 10, 15, 200, 25, 50, 20]

In [11]:
#3) reverse a list using a for loop?
ls1=[1,2,3]
ls2=[]
for i in ls1[::-1]:
  ls2.append(i)
print(ls2)

[3, 2, 1]

In [ ]:
#4)replace all 's' from strings with 'c'
s1='so what i can not see you'
x=s1.replace('s','c')
print(x)

co what i can not cee you

In [17]:
#5)Reverse string and then reverse it without for loop use onl slicing.
a="gautham"
print(a[::-1][::-1])

gautham

In [8]:
#6) remove all emoty spaces from a string?
s1="my name is sahib"
ls=[]
for i in list(s1):
  if i!=" ":
   ls.append(i)
print("".join(ls))

mynameissahib