In [ ]:
25*25

625

In [ ]:
usr=input("please enter your name")
print(usr)

please enter your namegautham krishna
gautham krishna

In [ ]:
usr=input("please enter your age")
print(type(int(usr)))

please enter your age 18
<class 'int'>

In [ ]:
usr1=input("my name is")
usr2=input("my age is")
print(usr1,usr2)

my name isgautham
my age is18
gautham 18

In [ ]:
usr1=input("what is your name")
user2=input("what is your age")
print(usr1+usr2)

what is your namegautham
what is your age18
gautham18

In [ ]:
usr1=input("what is your name")
usr2=input("what ii your age")
print(usr1,usr2,sep='##',end='$')
print("hey")

what is your namegautham
what ii your age18
gautham##18$hey

In [ ]:
hello=18.11
print(type(hello))

<class 'float'>

In [ ]:
lst_var=["gautham" , 18 ]
print(lst_var)
print(type(lst_var))
print(lst_var)

['gautham', 18]
<class 'list'>
['gautham', 18]

In [ ]:
tup_var=('a','b',1,2.0,3)
print(tup_var)
print(type(tup_var))

('a', 'b', 1, 2.0, 3)
<class 'tuple'>

In [ ]:
tup_var=('a','b',1,2,[1,2,3])
print(tup_var)
lst_var=['a','b',(1,2,3)]
print(lst_var)

('a', 'b', 1, 2, [1, 2, 3])
['a', 'b', (1, 2, 3)]

In [ ]:
tup_var=(1,2,3)
print(type(list(tup_var)))

<class 'list'>

In [ ]:
lst_var=[1,2,3]
print(type(tuple(lst_var)))

<class 'tuple'>

In [ ]:
dict_type={"india":"new delhi",
           "india":"new delhi"}
print(dict_type)
print(type(dict_type))

{'india': 'new delhi'}
<class 'dict'>

In [ ]:
set_type={1,1,3,2,"big","small"}
print(set_type)

{1, 2, 3, 'small', 'big'}

In [ ]:
y=[2,42,36,47,5,2,1,47,36,42,7,8,8,8,92,5,7]

result=list(set(y))
print(result)

[1, 2, 36, 5, 7, 8, 42, 47, 92]

In [ ]:
lst_var=[1,2,3,45,67,42,100,129,45,78,92,65,8,23,12,90,150,117]
print("the number of items in the list are :",len(lst_var))
print("the greatest number in the list:",max(lst_var))
print("the smallest number:",min(lst_var))
print("sum of all elements in the list",sum(lst_var))
print("product of all numbers in the list:")

the number of items in the list are : 18
the greatest number in the list: 150
the smallest number: 1
sum of all elements in the list 1069
product of all numbers in the list:

In [ ]:
a=1
while a<100:
  a=a+1
print("loop complete")

loop complete

In [ ]:
for elem in lst_var:
  print(elem)
print(elem)

1
2
3
45
67
42
100
129
45
78
92
65
8
23
12
90
150
117
117

In [ ]:
x=1
for elem in lst_var:
    x=x*elem
print(x)

717471356219240313600000000

In [ ]:
x=16%5
print(x)

1

In [ ]:
x=2**5
print(x)

32

In [ ]:

for elem in lst_var:
    x=elem**3
    print(x)

1
8
27
91125
300763
74088
1000000
2146689
91125
474552
778688
274625
512
12167
1728
729000
3375000
1601613

In [ ]:
pers_A=19
pers_B=17
var_check=(pers_A>18)and(pers_B>18)
print(var_check)

False

In [ ]:
print(not True)
print(not False)

False
True

In [ ]:
pers_A=20
pers_B=18
if (pers_A>=18)and(pers_B>=18):
   print("let them in")
elif pers_A>=18 and pers_B<18:
  print("Let person A inside")
elif pers_A<18 and pers_B>=18:
  print("Let person B inside")
else:
  print("dont let them in")

let them in

In [ ]:
lst_var=['Delhi','banglore','mumbai','hyderabad', "chennai"]
if "chennai" in lst_var:
  print("buoy you found it")
else:
  print("better luck next time")

buoy you found it

In [ ]:
lst_var=[23,45,67,89,90,41,24,56,79,25,67]
lst_var[4]=101
print(lst_var)

[23, 45, 67, 89, 101, 41, 24, 56, 79, 25, 67]

In [ ]:
print(lst_var[:5])

[23, 45, 67, 89, 101]

In [ ]:
allowed_input['1','2','3','4','6','w','wd','n']
if x=6
  print("alien de villiers")
elif x=4
  print("magnificent four by de villiers")
else:
  print("good running between wickets")

SyntaxError: ignored

In [ ]:
age=18
print(id(age))

11256608

In [ ]:
ip=input()
print(ip)
print(type(ip))

18
<class 'str'>

In [ ]:
name=input("enter your name")
age=input("enter your age")
print(name,age)
print(name,age,sep="##")
print(name,age,sep="##",end="$$")
print('we are done')

enter your namegk
enter your age18
gk 18
gk##18
gk##18$$we are done

In [ ]:
list=[2,7]
print(list)

[2, 7]

In [ ]:
tuple=(1,2,3)

print(tuple)
print(type(tuple))

(1, 2, 3)
<class 'tuple'>

In [ ]:
a={45,98,22,22,12,32,32,32,32,32,3,23}
print(type(a))
print(a)

<class 'set'>
{32, 98, 3, 12, 45, 22, 23}

In [ ]:
a

{3, 12, 22, 23, 32, 45, 98}

In [ ]:
tupleh="add"

(1, 2, 3)

In [ ]:
h="add"
a={12,23,45,13,h}
print(type(a))

<class 'set'>

In [ ]:
a

{12, 13, 23, 45, 'add'}

In [ ]:
marks={"A":92,
       "B":90,
       "C":45}
print(marks["A"])

92

In [ ]:
a="20"
print(type(a))
a=int(a)
print(type(a))

<class 'str'>
<class 'int'>

In [ ]:
a=int(input("enter your age"))
if a>18:
  print("he is an adult")
elif a==18:
  print("you are at border")
else: 
  print("he is young")

enter your age18
you are at border

In [ ]:
marks=33
print(type(marks))
marks=float(marks)
print(type(marks))
print(marks)

<class 'int'>
<class 'float'>
33.0

In [ ]:
lst=(23,31,12,32,100,32,32,100)
lst=set(lst)
print(type(lst))

<class 'set'>

In [ ]:
lst

{12, 23, 31, 32, 100}

In [ ]:
var_str="this is september"
var_str.upper()

'THIS IS SEPTEMBER'

In [ ]:
var_str.title()

'This Is September'

In [ ]:
input("enter your age")

enter your age18

'18'

In [ ]:
var_str='todayis9september'
print(var_str.isalnum())

True

In [ ]:
var_str='this is september'
print(var_str[0])
print(var_str[2:6])
print(var_str[-2])
print(list(var_str))
print(var_str.split())

t
is i
e
['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 's', 'e', 'p', 't', 'e', 'm', 'b', 'e', 'r']
['this', 'is', 'september']

In [ ]:
fname="daily_job_09092022.txt"
print(fname.split("_")[-1][:-4])

09092022

In [ ]:
pokelist=[12,13,14,"jiggypuff","1","2"]
for poke in pokelist:
    print(poke)
if poke=="jiggypuff":
    print("found")
else:
   print("continue")

12
13
14
jiggypuff
1
2
continue

In [ ]:
v1="pikachu"
v2="raichu"
print(v1[0])
print(v1[-1])
print(v1[:3])
print(v1[6:3:])

p
u
pik

In [52]:
L=["Bulbasaur_21","coocoo_54","squirtle_42","charmandes.09","Groudon_69","seviper_68","paras_00","Greyninja_07","Gengar_69"]
for i in L:
  K = i.startswith("G")
  if K== True:
    L1=i.find("_")
    print(i[:L1])

Groudon
Greyninja
Gengar

In [63]:
L2=[]
for i in L[::2]:
    L2.append(i)
L2

['Bulbasaur_21', 'squirtle_42', 'Groudon_69', 'paras_00', 'Gengar_69']